@using System.Collections.Generic
@using Digitalisert.Models
@model IEnumerable<ResourceModel.Resource>

<div class="list-group list-group-flush">
  @foreach(var resource in Model)
  {
    <a href="/Home/Resource/@(resource.Context)/@(resource.ResourceId)" class="list-group-item list-group-item-action">
      <h5>
          <small class="text-muted">@resource.Code?.FirstOrDefault()</small>
          @resource.Title?.FirstOrDefault()
      </h5>
      @foreach (var type in resource.Type)
      {
        <span class="badge badge-pill badge-dark">@type</span>
      }

      @foreach (var subType in resource.SubType ?? new string[] { })
      {
        <span class="badge badge-pill badge-secondary">@subType</span>
      }
    </a>
  }
</div>
