@using System.Collections.Generic
@using Raven.Client.Documents.Queries.Facets
@using Digitalisert.Models
@model Dictionary<string, FacetResult>

@{
    ViewData["Title"] = "Facet Page";
}

@foreach (var facet in Model)
{
  <div class="card">
    <h5 class="card-header">@facet.Value.Name</h5>
    <ul class="list-group list-group-flush">
      @foreach(var value in facet.Value.Values)
      {
        <li class="list-group-item d-flex justify-content-between align-items-center">
          @value.Range
          <span class="badge badge-pill badge-secondary">@value.Count</span>
        </li>
      }
    </ul>
  </div>
}
